<div class = "content">
  <div class = "header">
    <div class = "header__logo">
      <span>SOCCER SCORES</span>
    </div>
    <div class = "header__search">
      <div class="icon-addon addon-lg">
        <input class="form-control" type = "text" 
               ng-model = "search" 
               placeholder = "SEARCH" id = "search">
        <label for="search" class="glyphicon glyphicon-search" 
               rel="tooltip" title="search"></label>
      </div>
    </div>
    <div class = "header__tabs-wrapper">
      <span class = "header__tabs" 
            ng-repeat = "dayd in hc.games | unique: 'day'" 
            ng-class = "{active: hc.isSet($index)}"
            ng-click = "hc.gameDay(dayd.day, dayd.month); hc.setTab($index)">
        {{dayd.month + '/' + dayd.day}}
      </span>
    </div>
  </div>
  <div class="table-responsive">
    <table class = "table table__scores" 
           ng-repeat = "competition in hc.games | filter: search  | unique: 'competitionId'" 
           ng-show = "hc.content($index) === true">               
      <caption class = "table__caption">
        <span class = "table__title">{{competition.compCaption}}</span>
        <span class = "table__btn" ng-click = "hc.getStandings(competition.competitionId, $index)">
          Table 
          <i ng-show = "hc.showTable === false" class="glyphicon glyphicon-collapse-down"></i>
          <i ng-show = "hc.showTable === true" class="glyphicon glyphicon-collapse-up"></i>
        </span>

        <div ng-if = "hc.showTable && hc.compId == competition.competitionId" 
             class = "standings" standings stand = "hc.standings"></div>
      </caption>
      <tbody>
        <tr ng-repeat = "game in hc.games | filter: search" 
            ng-if = "competition.competitionId === game.competitionId && 
                     game.month === hc.todayMonth && game.day == hc.todayDay">
          <td class = "table__date">{{game.month + '/' + game.day}}</td>
          <td class = "table__team table__team--first">{{game.homeTeamName}}</td>
          <td class = "table__score" ng-class = "{'live': game.status === 'IN_PLAY'}">
            {{game.result.goalsHomeTeam + ' : ' + game.result.goalsAwayTeam}}
          </td>
          <td class = "table__team table__team--second">{{game.awayTeamName}}</td>
          <td class = "table__time"><span>
            {{game.hours + ':' + game.minutes}}
            </span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>