body {
  color: #aaa;
  font-family: 'Antic', 'Open Sans', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}

.icon-addon {
  position: relative;
  color: #555;
  display: block;
}

.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " ";
}

.icon-addon:after {
  clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px;
}

.icon-addon .form-control:focus + 
.glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
  color: #2580db;
}

.table-responsive {
  border: none !important;
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content{
  display: none;
}

.container-fluid {
  min-height: 100vh;
  background-color: #111;
}

.active {
  background-color: #012142;
}

.view-wrapper {
  padding: 80px 0px;
}

.header {
  width: 100%;
  background: #013264;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-items: center;
  align-content: center;
  align-items: center;
  color: #ccc;
}
.header__logo {
  font-weight: bold;
  padding: 0px 30px;
}
.header__search {
  flex-grow: 1;
  margin: 0px 32px;
}
.header__search input {
  background: #cdcdcd;
  text-align: center;
  font-size: 18px;
}
.header__tabs-wrapper {
  text-align: center;
}
.header__tabs {
  font-weight: bold;
  border-right: 1px solid #559;
  padding: 14px 18px;
  cursor: pointer;
  display: inline-block;
}
.header__tabs:hover {
  color: #999;
}
.header__tabs:last-child {
  border: none;
}

.table {
  border-color: #333;
  background-color: #222;
}
.table__caption {
  background: #333;
  color: #ccc !important;
  padding: 5px 8px;
  font-weight: bold;
}
.table__btn {
  float: right;
  margin-right: 10px;
  font-weight: normal;
  color: #999;
  cursor: pointer;
  background: #222;
  padding: 1px 3px;
}
.table__btn:hover {
  color: #bbb;
}
.table td {
  border-top: 1px solid #333 !important;
}
.table__team--first {
  text-align: right;
  width: 30%;
}
.table__team--second {
  text-align: left;
  width: 30%;
}
.table__score {
  text-align: center;
  width: 10%;
}
.table__date {
  width: 15%;
}
.table__time {
  text-align: right;
  width: 5%;
}
.table__status {
  width: 10%;
  text-align: center;
}
.table__time span {
  padding: 5px;
  margin-right: 10px;
  background: #013264;
  font-size: 14px;
  color: #ccc;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #222 !important;
}
.table .live {
  color: #0955cc !important;
}

.standings {
  margin-top: 8px;
}
.standings__table {
  margin-bottom: 0px !important;
  border-color: #333;
  background-color: #181818;
  width: 100%;
  font-weight: normal;
}
.standings__wrapper .standings__table thead {
  background: #013264;
  font-weight: bold;
}
.standings__table td {
  padding: 3px 5px;
  border: none !important;
  text-align: center;
}

.standings__table .standings__team{
  text-align: left;
}

/*MEDIA*/
@media (max-width: 1470px) {
  .header__logo,
  .header__tabs-

wrapper,
  .header__search {
    width: 100% !important;
    text-align: center;
    margin: 5px 0px;
  }

  .table-responsive .table {
    min-width: 700px;
    max-height: 600px !important;
  }
}
@media (max-width: 768px) {
  .header__tabs {
    font-size: 14px;
    padding: 10px 7px;
  }

 .table {
    font-size: 12px;
  }
  .table__status span {
    font-size: 12px;
  }
  .table__wrapper .table {
    min-width: 500px;
  }
}
@media (max-width: 420px) {
  .header__tabs {
    font-size: 10px;
    padding: 10px 5px;
  }
}
/*ANIMATIONS*/
.standings {
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
